#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sancreek-regular {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-goblin-green {
  background-color: oklch(41.19% 0.1276 142.82);
}

.bg-cancel-red {
  background-color: oklch(26.18% 0.0994 31.76);
}

.bg-dark-green {
  background-color: oklch(32.63% 0.0755 143.6);
}

.bg-cream {
  background-color: oklch(90.29% 0.1088 87.06);
}

.bg-light-tan {
  background-color: oklch(82.42% 0.1152 83.77);
}

.bg-tan {
  background-color: oklch(68.99% 0.1085 72.11);
}

.text-gold {
  color: oklch(81.88% 0.1636 76.31);
}

.text-brown {
  color: oklch(27.9% 0.0747 46.46)
}

.border-brown {
  border-color: oklch(27.9% 0.0747 46.46)
}

.no-scroll {
  overflow: hidden;
}
